* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b282f;
}

header {
    height: 100vh;
    background: #3b3a43 url('bg.jpg') center center/cover no-repeat;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5) url('person.png') 80% -20%/auto no-repeat;
}

.desc {
    color: white;
    position:relative;
    font-size: 15px;
    font-weight: 400;
    top: 21vh;
}

.headercontainer {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headercontainer h1 {
    position:relative;
    top: 20vh;
    text-align: left;
    color: white;
    font-size: 60px;
    font-weight: 900;
}

.headerhr {
    border: none;
    margin-top: 20px;
    border-top: 7px solid rgb(255, 255, 255);
    width: 200px;
    position:relative;
    top: 20vh;
}

a {
    color: rgba(0, 0, 0, 0);
}

.sociallinks {
    position:relative;
    top: 25vh;
}

i {
    color: rgb(218, 218, 218);
    font-size: 30px;
    margin-right: 20px;
}

.fa-chevron-down {
    text-align: center;
    position:relative;
    color: white;
    bottom: 2vh;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}

h2 {
    margin-top: 100px;
    color: white;
    font-size: 30px;
}

.container hr {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-top: 3px solid white;
}

i:hover {
    color: white;
}

.container p {
    color: rgb(211, 211, 211);
    margin-bottom: 10px;
}

.itchlink {
    color: white;
    text-decoration: underline;
}